---
// Component Imports
import Organiser from '../components/Organiser.astro';
import Sidebar from '../components/Sidebar.astro';
import Data from '../components/Data.astro';
import MainScript from '../components/MainScript.astro';
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Team Organiser';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/assets/semantic.min.css">
    <link rel="stylesheet" href="/assets/semantic.min.js">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 3em;
        }
        .side-by-side {
            display: flex;
            gap: 3em;
        }
        .fset {
            border: 0 !important;
            padding: 0 !important;
            margin-bottom: 100px !important;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>
            <section class="side-by-side">
                <Sidebar />
                <Organiser />
            </section>

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->
        <!-- <ReactCounter client:visible /> -->
    </main>
    <Data />
    <MainScript />
</body>
</html>
